<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/edit/<%= aEntries[0].entry_id%>">
      Date:
      <input type="date" name="date" value="<%= aEntries[0].date%>" />
      <br /><br />
      Entry:
      <textarea name="text"><%= aEntries[0].text%></textarea>
      <br /><br />
      <button type="submit">Update Entry</button>
    </form>
  </body>
</html>
