<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journal.io</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <!-- <div class="row">
      <div class="column"></div>
      <div class="column"></div>
    </div> -->
    <h1>Welcome to Journal.io</h1>
    <h4>Write and save to the cloud</h4>

    <% for (let i=0; i< aEntries.length; i++) { %>

    <table>
      <thead>
        <th><%= aEntries[i].date %></th>
        <th>
          <form method="get" action="/edit/<%= aEntries[i].entry_id %>">
            <button type="submit">Edit</button>
          </form>
        </th>
        <th>
          <form method="get" action="/delete/<%= aEntries[i].entry_id %>">
            <button type="submit">Delete</button>
          </form>
        </th>
      </thead>
    </table>
    <p id="entries"><%= aEntries[i].text %></p>
    <br />

    <% } %>

    <form method="get" action="/addentry">
      <button type="submit">Add Entry</button>
    </form>
  </body>
</html>
